<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>i am index 2 </h1>
    <a href="/">index1</a> -->
    <!-- <h1>{{data}}</h1> -->
    {% for item in data %}
     
    <h1>{{item.name}}</h1>
    <h1>{{item.email}}</h1>
    <h1>{{item.massage}}</h1>

    {% endfor %}

 <form action="" method="POST" name="">
    
    {% csrf_token %}

  <input type="text" name="name" placeholder="name"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="text" name="massage" placeholder="massage"><br>
  <button type="submit">submit</button>


 </form>


</body>
</html>