<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   {% for item in data %}
   <h1>{{item.name}}</h1>
   <h1>{{item.email}}</h1>
   <h1>{{item.massage}}</h1>
   {% endfor %}
  
     <form action="" method="POST" name="">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name"><br><br>
        <input type="text" name="email" placeholder="Email"><br><br>
        <input type="text" name="massage" placeholder="Massage"><br><br>
        <button type="submit">submit</button>
    </form> 
</body>
</html>